extends ../components/base/layout

block variables
  - const title = "Северяночка" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "Корзина" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const userAuthorized = true

  -
    const cartCards = [
      {
        picture: ["content/products", "product-slider", "png", 80, 60, "изображение продукта"],
        price: "44,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        total: "80,10 ₽",
        count: 2,
        check: true
      },
      {
        picture: ["content/products", "product-slider", "png", 80, 60, "изображение продукта"],
        price: "50,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        discount: ["-10%", "44,50 ₽", "80,10 ₽"],
        total: "89,10 ₽",
        count: 2,
        check: true
      },
      {
        picture: ["content/products", "product-slider", "png", 80, 60, "изображение продукта"],
        price: "44,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        total: "80,10 ₽",
        count: 2,
        check: true
      },
    ]

  -
    const cartInfo = {
      accumulation: "200 ₽",
      count: "3 товара",
      price: "258,10  ₽",
      discount: "-8,01  ₽",
      total: "250,09 ₽ ",
      bonus: "100 бонусов",
      notice: true,
    }

  -
    const breadscrumbsData = [
      {
        href: "main.html",
        text: "Главная",
      },
      {
        text: "Корзина",
      },
    ]


block main
  main
    +breadcrumbs(breadscrumbsData).breadcrumbs--margins
    +title-h1("Корзина", 3).titles--h1

    section.section
      h2.visually-hidden Товары в корзине
      .container
        +cart-grid(cartCards, cartInfo)

block modals
