extends ../components/base/layout

block variables
  - const title = "Северяночка" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "Избранное" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const userAuthorized = false

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    div(style="display: flex;")
      div(style="width: 272px;")
        +range-filter()
        //-.range-filter
          .range-filter__header
            h3.range-filter__title Цена
            +btn({
              text: "Очистить"
            }).btn--filter-text
          .range-filter__inputs
            +custom-input({
              inputLabelHidden: "Цена минимальная",
              inputId: "input-with-keypress-0",
              inputName: "price-min",
              inputSize: 10
            }).range-filter__input
            .range-filter__separator
            +custom-input({
              inputLabelHidden: "Цена максимальная",
              inputId: "input-with-keypress-1",
              inputName: "price-max",
              inputSize: 10
            }).range-filter__input
          .range-filter__bar
            div(id="range-slider")

  script
    include ../../js/inline/wNumb.js

block modals
