extends ../components/base/layout

block variables
  - const title = "Северяночка" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "Избранное" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const userAuthorized = true

  -
    const cardProductsNew = [
      {
        picture: ["content/products", "product-05", "png", 272, 160, "изображение продукта"],
        price: "599,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
        favourite: true
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы",
        rating: [true, true, true, false, false],
        favourite: true
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "159,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
        favourite: true
      },
      {
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        favourite: true
      },
      {
        picture: ["content/products", "product-05", "png", 272, 160, "изображение продукта"],
        price: "599,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
        favourite: true
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы",
        rating: [true, true, true, false, false],
        favourite: true
      },
    ]

  -
    const breadscrumbsData = [
      {
        href: "main.html",
        text: "Главная",
      },
      {
        text: "Избранное",
      },
    ]

  -
    const activeFilterData = [
      {
        data: [100, 900],
        display: true
      },
      {
        text: "Фильтр: \"Молоко\"",
        display: true
      },
      {
        text: "Фильтр: \"Сливки\"",
      },
      {
        text: "Фильтр: \"Яйцо\"",
      },
      {
        text: "Фильтр: \"В наличии\"",
        display: true
      },
    ]

block main
  main

    +breadcrumbs(breadscrumbsData).breadcrumbs--margins
    +title-h1("Избранное").titles--h1

    section.section
      h2.visually-hidden Избранные товары с фильтром с фильтром
      .container
        +filter-grid()

  script
    include ../../js/inline/wNumb.js

block modals
