extends ../components/base/layout

block variables
  - const title = "Северяночка" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "Главная" //- для остальных страниц пишем пустую строку или индекс активного headerLinks
  - const userAuthorized = true

  //-
    const cardProducts = [
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное паропаы рпрапр арпгарп грпгарпга р апргргпрга",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: false,
        count: 4,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "card-product--empty",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: true,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: true
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: 4,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: false,
        empty: false,
        favourite: false
      },
    ]

  //-
    const cardProducts2 = [
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное паропаы рпрапр арпгарп грпгарпга р апргргпрга",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: false,
        count: 4,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "card-product--empty",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: true,
        favourite: false
      },
    ]

  -
    const cardProducts3 = [
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное паропаы рпрапр арпгарп грпгарпга р апргргпрга",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
      {
        additionClass: "",
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: false,
        order: false,
        count: false,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное...",
        rating: [true, true, true, false, false],
        empty: false,
        favourite: false
      },
    ]

  -
    const cardProductsActions = [
      {
        picture: ["content/products", "product-01", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Г/Ц Блинчики с мясом вес, Россия",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        count: 4,
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное рпрваып рпапыав раорпраорпы  рррыпаопро рппыапавпав ",
        rating: [true, true, true, false, false],
        favourite: true
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы ",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Сосиски вареные МЯСНАЯ ИСТОРИЯ Молочные и С сыропорпавы роапропараопрап оравпроавпрвапмрра",
      },
      {
        picture: ["content/products", "product-01", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Г/Ц Блинчики с мясом вес, Россия",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Молоко ПРОСТОКВАШИНО паст. питьевое цельное отборное рпрваып рпапыав раорпраорпы  рррыпаопро рппыапавпав ",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы ",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        discount: ["-50%", "50,50 ₽"],
        title: "Сосиски вареные МЯСНАЯ ИСТОРИЯ Молочные и С сыропорпавы роапропараопрап оравпроавпрвапмрра",
      },
    ]

  -
    const cardProductsNew = [
      {
        picture: ["content/products", "product-05", "png", 272, 160, "изображение продукта"],
        price: "599,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "159,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      },
       {
        picture: ["content/products", "product-05", "png", 272, 160, "изображение продукта"],
        price: "599,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-03", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Колбаса сырокопченая МЯСНАЯ ИСТОРИЯ Сальчичон и Тосканпрпрпр рпропоап рапр оаыпоавп апорапроы",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "159,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-02", "png", 272, 160, "изображение продукта"],
        price: "44,50 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      },
    ]

  -
    const cardProductsBoughtBefore = [
      {
        picture: ["content/products", "product-06", "png", 272, 160, "изображение продукта"],
        price: "77,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
      },
      {
        picture: ["content/products", "product-04", "png", 272, 160, "изображение продукта"],
        price: "159,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
      },
      {
        additionClass: "card-product--empty",
        picture: ["content/products", "product-05", "png", 272, 160, "изображение продукта"],
        price: "599,99 ₽",
        title: "Комбайн КЗС-1218 «ДЕСНА-ПОЛЕСЬЕ GS12»",
        rating: [true, true, true, false, false],
        empty: true,
      },
    ]

  -
    const previewArticles = [
      {
        image: ["content/articles", "article-01", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Режим использования масок и перчаток на территории магазинов",
        text: "Подробная информация о режимах использования масок и перчаток на территории магазинов \"ЛЕНТА\". Информация обновляется каждый будний день.",
        href: "#"
      },
      {
        image: ["content/articles", "article-02", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Весеннее настроение для каждой",
        text: "8 Марта – это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий.",
        href: "#"
      },
      {
        image: ["content/articles", "article-03", "jpg", 376, 162, "обложка для статьи"],
        date: ["2020-02-22", "22.02.2020"],
        title: "ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!",
        text: "Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!",
        href: "#"
      },
      {
        image: ["content/articles", "article-01", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Режим использования масок и перчаток на территории магазинов",
        text: "Подробная информация о режимах использования масок и перчаток на территории магазинов \"ЛЕНТА\". Информация обновляется каждый будний день.",
        href: "#"
      },
      {
        image: ["content/articles", "article-02", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Весеннее настроение для каждой",
        text: "8 Марта – это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий.",
        href: "#"
      },
      {
        image: ["content/articles", "article-03", "jpg", 376, 162, "обложка для статьи"],
        date: ["2020-02-22", "22.02.2020"],
        title: "ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!",
        text: "Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!",
        href: "#"
      },
    ]

  -
    const specialBanners = [
      {
        additionClass: "special-banner--image-1",
        picture: ["content/special-orders", "order-01", "png", 208, 139, "картинка баннера"],
        title: "Оформите карту «Северяночка»",
        text: "И получайте бонусы при покупке в магазинах и на сайте",
        href: "#"
      },
      {
        additionClass: "special-banner--green special-banner--image-2 special-banner--background",
        picture: ["content/special-orders", "order-02", "png", 193, 186, "картинка баннера"],
        title: "Покупайте акционные товары",
        text: "И получайте вдвое больше бонусов",
        href: "#"
      },
    ]

  //-
    const previewArticles1 = [
      {
        image: ["content/articles", "article-01", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Режим использования масок и перчаток на территории магазинов",
        text: "Подробная информация о режимах использования масок и перчаток на территории магазинов \"ЛЕНТА\". Информация обновляется каждый будний день.",
        href: "#"
      },
      {
        image: ["content/articles", "article-02", "jpg", 376, 162, "обложка для статьи"],
        date: ["2021-03-06", "09.03.2021"],
        title: "Весеннее настроение для каждой",
        text: "8 Марта – это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий.",
        href: "#"
      },
      {
        image: ["content/articles", "article-03", "jpg", 376, 162, "обложка для статьи"],
        date: ["2020-02-22", "22.02.2020"],
        title: "ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!",
        text: "Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!",
        href: "#"
      },
    ]

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    h1.visually-hidden Горячая информация о продуктах
    +banner-slider()

    //-+section-cards("Акции", "Все акции", cardProducts, true)
    //-+section-cards("Акции", false, cardProducts, false)
    //-+section-cards("Акции", "Все акции", cardProducts, true)
    //-+section-cards("Акции", "Все акции", cardProducts2, true)
    //-+section-cards("Акции", "Все акции", cardProducts3, true)
    //-+section-cards("Акции", "Все акции", cardProducts2, true)

    +section-cards("Акции", "Все акции", cardProductsActions, true)
    +section-cards("Новинки", "Все новинки", cardProductsNew, true)
    +section-cards("Покупали раньше", "Все покупки", cardProductsBoughtBefore, true)

    +special-banners("Специальные предложения", "Все предложения", specialBanners, true)
    //-+special-banners("Специальные предложения", "Все предложения", specialBanners, true)

    +section-articles("Статьи", "Все статьи", previewArticles, true)

    //-+section-articles("Статьи", false, previewArticles, false)
    //-+section-articles("Статьи", "Все статьи", previewArticles1, true)




block modals
