mixin article(options)

  li.article&attributes(attributes)
    .article__image
      +picture(options.image[0], options.image[1], options.image[2], options.image[3], options.image[4], options.image[5])
    .article__wrap-info
      time.article__date(datetime=options.date[0])=options.date[1]
      h3.article__title=options.title
      p.article__text=options.text
      +btn({
        text: "Подробнее",
        href: options.href
      }).btn--middle-size.btn--green
