mixin cart-grid(cards, info)
  .cart-grid
    .cart-grid__cards
      .cart-grid__panel
        +custom-toggle({
          inputLabel: "Выделить всё",
          inputChecked: true
        }).custom-toggle--checkbox
        +btn({
          text: "Удалить выбранные"
        }).btn--cart-grid-panel
      ul.cart-grid__list
        each card in cards
          +cart-card(card)
    +cart-info(info).cart-grid__order-info
