mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      p(style="margin-top: 40px;") Текст&nbsp;с&nbsp;мнемониками

      p(style="margin-top: 40px;") Пример использования +img()
      p(style="margin-bottom: 40px;")
        +img("content", "placeholder", "png", 120, 120, "Пример")


    .container

      a.user-menu-item.user-menu-item--not-empty.is-active(href="#")
          .user-menu-item__icon-container
            +icon("icon-cart", "24", "24")
            span.user-menu-item__counter 1
          .user-menu-item__label Избранное

      a.user-menu-item(href="#")
          .user-menu-item__icon-container
            +icon("icon-cart", "24", "24")
            span.user-menu-item__counter 1
          .user-menu-item__label Избранное

      a.user-menu-item.user-menu-item--not-empty(href="#")
          .user-menu-item__icon-container
            +icon("icon-cart", "24", "24")
            span.user-menu-item__counter 1
          .user-menu-item__label Избранное

      div

        .header-logo
          .header-logo__icon
            +icon("icon-headerlogo", "40", "32")
          .header-logo__text
            +icon("icon-headerlogotext", "100", "10")



        .search
          form(method="get", action="#")
            +custom-input({
              inputLabelHidden: "поиск товара",
              inputPlaceholder: "Найти товар",
              inputType: "search",
              inputName: "search-good"
            }).custom-input--search
            +btn({icon: {name: "icon-search"}, type: "submit"}).btn--none-text.btn--middle-size.btn--transparent

