mixin product-count(options = {})
  - const count = options.count ? options.count : 1

  .product-count&attributes(attributes)
    form(action="#", method="GET")
      +btn({
        icon: {name: "icon-minus"},
        ariaLabel: "уменьшить"
      })(data-count="decrease").btn--none-text.btn--green
      +custom-input({
        inputLabelHidden: "количество выбранного товара",
        inputValue: count
      })
      +btn({
        icon: {name: "icon-plus"},
        ariaLabel: "увеличить"
      })(data-count="increase").btn--none-text.btn--green
