mixin product-info()
  -
    const productInfo = {
      usualPrice: "192,69 ₽",
      cardPrice: "108,99 ₽",
      bonus: "10 бонусов",
      info: [
        {
          key: "Бренд",
          value: "ПРОСТОКВАШИНО"
        },
        {
          key: "Страна производителя",
          value: "Россия"
        },
        {
          key: "Упаковка",
          value: "180 г"
        },
      ]
    }

  .product-info
    .product-info__prices
      p.product-info__usual-price
        span.product-info__usual-value=productInfo.usualPrice
        span.product-info__usual-text Обычная цена
      p.product-info__card-price
        span.product-info__card-value=productInfo.cardPrice
        span.product-info__usual-text
          | С картой Северяночки
          +icon("icon-prompt", 24, 24)
    div(data-product).product-info__actions
      +btn({
        icon: {name: "icon-cart", left: true},
        text: "В корзину",
        cart: true
      }).product-info__cart-button
      +product-count().is-none
      +product-bonus(productInfo.bonus)
      +btn({
        icon: {name: "icon-bell", left: true},
        text: "Уведомить о снижении цены"
      }).btn--middle-size.btn--product-panel.product-info__bell-button
    .product-info__specification
      each item in productInfo.info
        p.product-info__specification-row
          span.product-info__specification-key=item.key
          span.product-info__specification-value=item.value
