mixin section-articles(title, text, articles, isSlider)
  section.section&attributes(attributes)
    .container.container--shadow
      .shadow-box
        +section-title(title, text)
        if isSlider
          +list-articles-slider(articles)
        else
          +list-articles-grid(articles)
