mixin section-articles(title, text, articles, isSlider)
  section.section&attributes(attributes)
    .container
      +section-title(title, text)
      if isSlider
        +list-articles-slider(articles)
      else
        +list-articles-grid(articles)
