mixin special-banners(title, text, banners, false)
  section.section&attributes(attributes)
    .container
      +section-title(title, text)
      if isSlider
        +special-banners-slider(banners)
      else
        +special-banners-grid(banners)
