mixin special-banners(title, text, banners, isSlider)
  section.section&attributes(attributes)
    .container.container--shadow
      .shadow-box
        +section-title(title, text)
        if isSlider
          +special-banners-slider(banners)
        else
          +special-banners-grid(banners)
