//-mixin title-h1(options = {})
  - const text = options.text ? options.text : ""
  - const additionalClass = `titles title--margin-bottom ${additionalClass}` : "titles titles--h1 title--margin-bottom"
  .container
    h1(class=additionalClass)=text

mixin title-h1(text, count)
  .container
    //-h1.titles.title--margin-bottom&attributes(attributes)=text
    h1.titles.title--margin-bottom&attributes(attributes)
      = text
      if count
        span=count
