.custom-toggle {
  position: relative;

  display: flex;

  &__error {
    position: absolute;
    bottom: -20px;
    left: 0;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;
  }

  input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;

    padding-left: 32px;

    cursor: pointer;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        .custom-toggle__icon {
          border: 1px solid rgba($color-default-black, 0.8);

          &::before {
            background-color: rgba($color-default-black, 0.8);
          }
        }
      }
    }
  }

  &--checkbox {
    label {

      @media (hover: hover), screen and (min-width: 0\0) {
        &:hover,
        &:focus {
          .custom-toggle__icon {
            &::before {
              background-color: $color-transparent;
            }
          }

          input:checked + .custom-toggle__icon {
            &::before {
              border-color: rgba($color-default-black, 0.8);
            }
          }
        }
      }
    }

    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 24px;
      height: 24px;

      border: 1px solid $color-silver;
      border-radius: 4px;

      background-color: $color-default-white;

      transition: border $trans-default, background-color $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 4px;
        left: 8px;

        width: 6px;
        height: 12px;
        border: solid $color-transparent;
        border-width: 0 2px 2px 0;

        transform: rotate(45deg);

        background-color: $color-transparent;

        transition: background-color $trans-default;
      }
    }

    input:checked + .custom-toggle__icon {
      border: 1px solid $color-hint-of-red;

      background-color: $color-mantis;

      &::before {
        border-color: $color-default-white;
      }
    }
  }

  &--radio {
    .custom-toggle__icon {
      position: absolute;
      top: 2px;
      left: 0;

      width: 16px;
      height: 16px;

      border: 1px solid rgba($color-default-black, 0.2);
      border-radius: 50%;

      transition: border $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 6px;
        height: 6px;

        color: $color-transparent;

        border-radius: 50%;
        transform: translate(-50%, -50%);

        transition: color $trans-default;
      }
    }
  }

  &--toggle {
    label {
      padding-left: 56px;
    }

    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 46px;
      height: 24px;
      border-radius: 32px;
      border: 1px solid $color-gainsboro;

      background-color: $color-white-smoke;

      transition: border $trans-default, background-color $trans-default;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 2px;

        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgba($color-default-black, 0.04);

        background-color: $color-default-white;

        box-shadow: 0px 1px 1px 0px rgba($color-default-black, 0.08), 0px 2px 6px 0px rgba($color-default-black, 0.15);

        transform: translateY(-50%);

        transition: border $trans-default, background-color $trans-default, left $trans-default;
      }
    }

    input:checked + .custom-toggle__icon {
      border: 1px solid $color-mantis;

      background-color: $color-mantis;

      &::before {
        left: calc(100% - 22px);
      }
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      border: 1px solid $color-torch-red;
    }

    .custom-toggle__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    label span {
      color: $color-eucalyptus;
    }
  }*/
}
