.custom-input,
.custom-textarea {
  position: relative;

  display: flex;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 40px;
      padding: 7px 15px;

      border: 1px solid $color-suva-grey;
      border-radius: 5px;
      outline: none;

      transition: border $trans-default;

      font-size: 16px;
      line-height: 24px;
      color: $color-charcoal;

      &::placeholder {
        color: $color-suva-grey;
      }

      &:hover {
        border: 1px solid $color-charcoal;
      }

      &:focus {
        border: 1px solid $color-charcoal;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -5px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 1px solid $color-free-speech-red;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-free-speech-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 1px solid $color-malachite;

      &:focus,
      &:hover {
        border: 1px solid rgba($color-malachite, 0.5);
      }
    }
  }*/

  &--search {
    label {
      input {
        padding: 7px 41px 7px 15px;
        //border: 1px solid $color-mantis;
      }
    }
  }
}
