.list-cards {
  overflow: visible;

  &__wrapper {
    margin: 0;
    padding-left: 0;

    list-style: none;
  }
}

.list-cards--grid {
  .list-cards__wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;

    //margin: 0;
    //padding-left: 0;

    //list-style: none;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    .card-product {
      width: 100%;
    }
  }
}

.list-cards--grid-filter {
  .list-cards__wrapper {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;

    @include vp-1023 {
      gap: 32px;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    .card-product {
      width: 100%;
    }
  }
}
